bpython==0.22.1
colorama==0.4.3
cx_Oracle==8.3.0
Cython==0.29.28
dl==0.1.0
docutils==0.18.1
importlib_resources==5.4.0
ipaddr==2.2.0
ipdb==0.13.9
ipython==8.2.0
keyring==18.0.1
mypy_extensions==0.4.3
MySQL-python==1.2.5
numpy==1.22.3
ordereddict==1.1
Pillow==9.1.0
psycopg2==2.9.3
pylibmc==1.6.1
pymemcache==3.5.2
pytest==7.1.1
python_memcached==1.59
pytz==2019.3
pywatchman==1.4.1
PyYAML==6.0
tblib==1.7.0
typing_extensions==4.1.1
wincertstore==0.2.1
